body {
    font-family: 'Open Sans', sans-serif;
    color: #272829;
    overflow-x: hidden;
}

a {
    color: #a8a9b4;
    text-decoration: none;
}

a:hover {
    color: #37b3ed;
    text-decoration: none;
}

#header {
    background-color: #282A3A;
    color: azure;
    width: 300px;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
}

#header img {
    border-radius: 50%;
    border: 8px solid;
    width: 120px;
    margin: 15px auto;
    display: block;
    border-color: #474E68;
}

#header h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bolder;
}

#header .headericons i {
    border-radius: 50%;
    background-color: #212431;
    font-size: 18px;
    color: #fff;
    display: inline-block;
    line-height: 1;
    padding: 8px 0px;
    margin-right: 4px;
    width: 36px;
    text-align: center;
}

#header .headericons {
    text-align: center;
    padding-bottom: 20px;
}

#header .headericons i:hover {
    background-color: #149ddd;
}

#header #menu ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

#header #menu li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    line-height: 1.5;
    color: #a8a9b4;
}

#header #menu i {
    padding-right: 10px;
    color: #a8a9b4;
    width: 30px;
    height: 30px;
}

.text-slider-items {
    display: none;
}

#header #menu a:hover i,
#header #menu .active i,
#header #menu .active:focus i,
#header #menu li:hover>a i {
    color: #37b3ed
}

#profile {
    height: 100vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(40, 42, 58, 1) 35%, rgba(107, 105, 105, 1) 65%);
    /* background: url("../images/background.jpg") top center;*/
    background-size: 100% 100%;
}

#profile {
    color: #ffffff;
}

#profile h1 {
    font-size: 5rem;
}

#profile p {
    font-size: 2.5rem;
}

#profile .text-slider {
    border-bottom: 3px solid #37b3ed;
}

.typed_cursor {
    border-bottom: 3px solid #37b3ed;
}

#main {
    margin-left: 300px;
}

#about {
    padding-left: 150px;
    padding-top: 50px;
    padding-right: 150px;
    padding-bottom: 50px;
}

#about h1,
p {
    color: #000000;
}

#about h1::after {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background-color: #149ddd;
    bottom: 0;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#about img {
    width: 400px;
    height: 400px;
    object-fit: fill;
}

#about .profile_image_div {
    padding-left: 0;
    padding-right: 0;
}

#about .container h3 {
    padding-bottom: 20px;
    text-decoration: solid;
    font-weight: bold;
    color: #37306B;
}

#about .container ul {
    list-style: none;
    padding-left: 0;
}

#about .container ul li {
    margin-bottom: 20px;
    align-items: center;
}

#about .container ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #149ddd;
    line-height: 0;
    font-weight: bold;
}

#about .container .skills {
    color: #37306B;
    font-weight: bold;
}

/* Facts  Section */
#facts {
    padding-left: 150px;
    padding-top: 50px;
    padding-right: 150px;
    padding-bottom: 50px;
}

#facts h2::after {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background-color: #149ddd;
    bottom: 0;
    padding-bottom: 5px;
}

#facts i {
    font-size: 50px;
    color: #149ddd;
    padding-right: 20px;
    float: left;
}

#facts strong {
    display: flex;
}

#facts .section-contents p {
    margin-left: 70px;
}

#facts span {
    font-weight: bolder;
    font-size: 40px;
}

/* Skills  Section */
#skills {
    padding-left: 150px;
    padding-top: 50px;
    padding-right: 150px;
    padding-bottom: 50px;
    background-color: #f5f8fd;
}

#skills h2::after {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background-color: #149ddd;
    bottom: 0;
    padding-bottom: 5px;
}

#skills .progress {
    display: block;
    border-radius: 0;
    background: none;
    height: 60px;
    font-weight: bold;
}

#skills .progress i {
    float: right;
}

#skills .progress-bar-wrap {
    background: #dce8f8;
    height: 10px;
}

#skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: #149ddd;
}

/* Resume Section */
#resume {
    padding-left: 150px;
    padding-top: 50px;
    padding-right: 150px;
    padding-bottom: 50px;
}

#resume h1,
p {
    color: #000000;
}

#resume h1::after {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background-color: #149ddd;
    bottom: 0;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#resume .resume-item {
    border-left: 2px solid #1f5297;
    padding-left: 15px;
    padding-top: 10px;
}

#resume .resume-item:last-child {
    padding-bottom: 0;
}

#resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
}

#resume h2 {
    font-size: 25px;
    font-weight: bold;
}

#resume .resume-item h2 {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}

#resume .resume-item {
    font-size: 15px;
}

#resume .resume-item span {
    display: inline-block;
    padding-bottom: 5px;
    font-weight: bold;
    background: #e4edf9;
    padding: 5px 15px;
    margin-bottom: 5px;
}

#resume .resume-item strong {
    display: block;
    font-style: italic;
}

#footer {
    background-color: #282A3A;
    color: azure;
    width: 300px;
    text-align: center;
    z-index: 9999;
    position: fixed;
    left: 0;
    bottom: 0;
}

#footer p {
    padding-bottom: 7px;
}